<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13395576563-bui2hnmoe7c74mqb14tc7e9dsgacg07i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13395576563-bui2hnmoe7c74mqb14tc7e9dsgacg07i</string>
	<key>API_KEY</key>
	<string>AIzaSyAEbl1JwmAqwW06mu2WbL3Vsjneng57McM</string>
	<key>GCM_SENDER_ID</key>
	<string>13395576563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.front</string>
	<key>PROJECT_ID</key>
	<string>aip-project-4a5cd</string>
	<key>STORAGE_BUCKET</key>
	<string>aip-project-4a5cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13395576563:ios:8dab560dc917e37d175986</string>
</dict>
</plist>